.container {
    width: 80%;
    margin: 2px;
 }
 
   
.pLinkContainer {
   position: fixed;
   top:10%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;


   }
   


 .personas {
   position: fixed;
   top: 20%;
    display: flex;
    justify-content: space-between;
 }
 
 .cols {
    flex: 1;
    text-align: center;
 }
 
 #image img{
    width: 50%;
    height: auto; 

  }

  .personaLinks {
   position: flex;
   top:5%;
   margin: 10px;
   text-decoration: none;
   color: green;
   font-weight: bold;
   
   }
   
   #activeLink{
      font-size: 20px;
   }